# Віртуальне середовище
venv/
__pycache__/
*.pyc

# Налаштування середовища
.env

# Налаштування IDE
*.idea/
*.vscode/

# Файли логів
*.log

# Системні файли
.DS_Store
Thumbs.db

# Конфігураційні файли
config.py

